<p style="color: green"><%= notice %></p>

<h1>Articles</h1>
<div class="flickr_pagination">
    <%= will_paginate @articles, :container => false %>
  </div>
<div id="articles">
  <% @articles.each do |article| %>
    <%= render article %>
    <p>
      <%= link_to "Show this article", article %>  ||  
      <% if logged_in? && article.user == current_user %>
      <%= link_to "Edit this article", edit_article_path(article) %>
      <% end %>
    </p>
  <% end %>
</div>

<%= link_to "New article", new_article_path %>

<div class="flickr_pagination">
    <%= will_paginate @articles, :container => false %>
  </div>
