<h1>All the Bloggers are here </h1>

<div id="users">
<div class="flickr_pagination">
    <%= will_paginate @users, :container => false %>
</div>
  <% @users.each do |user| %>
    <p>
      <%= link_to user.username, user %>
      <%= link_to gravatar_for(user,size: 150), user %>
      <%= pluralize(user.articles.count, "article")%>
      <%if logged_in? and user == current_user %>
      <%= link_to "edit User", edit_user_path(user) %>
      <%end%>

<% if logged_in? %>
              <% if user == current_user %>
                <%= link_to "Edit profile", edit_user_path(user)%>
              <% end %>
              <% if current_user.admin? %>
                <%= button_to 'Delete User', user_path(current_user), method: :delete, data: {confirm: "Are you share" } %>
              <% end %>
              <% end %>

      <%= link_to "View profile", user %>
      <small><%= time_ago_in_words(user.created_at)%></small>
    </p>
  <% end %>
</div>

<%= link_to "New article", new_article_path %>
<div class="flickr_pagination">
    <%= will_paginate @users, :container => false %>
</div>